body {
    display: grid;
    place-content: center;
    padding: 8rem 0;
    width: 70vw;
    margin: auto;

    h1 {
        margin-bottom: 2rem;
        font-style: italic;
        line-height: 1.6;
    }

    p:first-of-type {
        margin-bottom: 2rem;

        &::before {
            content: '~~~';
            display: block;
            font-size: 5rem;
            color: c(primary);
        }
    }

    h5 {
        color: lighten(black, 20%);
    }

    h1,
    h5 {
        font-family: 'Playfair Display', serif;
    }
}
